#menu {
    border: var(--leaf-border);
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: fit-content;

    select {
        border: 0.1rem solid var(--dark-color);
        background-color: none;
        border-radius: 0.4rem;
        outline: none;
    }

    input {
        border: 0.1rem solid var(--dark-color);
        border-radius: 0.4rem;
        padding: 0.5rem;

        &:focus {
            outline: none;
        }
    }

    button {
        border: 0.1rem solid var(--dark-color);
        background-color: none;
        border-radius: 5rem;
        height: 2rem;
        width: 2rem;
        outline: none;
    }
}
