.node-menu {
    display: flex;
    height: fit-content;
    justify-content: center;
    opacity: 0;
    padding: 0.5rem;
    position: absolute;
    z-index: 20;

    .button {
        display: flex;
        cursor: pointer;
        color: var(--leaf-color);
        transition: all 0.2s;

        &:hover {
            transform: scale(1.5);
        }

        .arrow {
            border: var(--dark-border);
            border-bottom: none;
            height: 0.4rem;
            width: 0.4rem;
        }

        .right {
            border-left: none;
        }

        .left {
            border-right: none;
        }

        .delete {
            border-color: var(--red-color);
            border-bottom: none;
            border-left: none;
            border-right: none;
            width: 1rem;
        }
    }
}

.binary {
    gap: 0.5rem;
    transform: translate(-0.7rem, 2rem);
    width: 3rem;
}

.nary {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    transform: translate(0.3rem, 2rem);
    width: 1rem;

    .add {
        color: var(--dark-color);
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 1rem;
    }
}
