.node-menu {
    display: flex;
    height: fit-content;
    gap: 0.5rem;
    transform: translate(0, 2.8rem);
    opacity: 0;
    position: absolute;
    z-index: 20;

    .button {
        display: flex;
        cursor: pointer;
        color: var(--leaf-color);
        width: 0.5rem;
        height: 0.5rem;
        transition: all 0.2s;

        &:hover {
            transform: scale(1.5);
        }

        .arrow {
            border: var(--branch-border);
            border-bottom: none;
            width: 0.5rem;
        }

        .right {
            border-left: none;
        }

        .left {
            border-right: none;
        }

        .delete {
            border-color: var(--red-color);
            border-bottom: none;
            border-left: none;
            border-right: none;
            width: 1rem;
        }
    }
}
