#tree {
    border: 0.2rem solid darkslategrey;
    border-radius: 2rem;
    padding: 1rem;
}

.node {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
    flex: 1;
}

.value-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.value {
    align-items: center;
    background-color: aquamarine;
    border: 0.2rem solid darkslategrey;
    border-radius: 2rem;
    display: flex;
    height: 2rem;
    justify-content: center;
    cursor: pointer;
    width: 2rem;
}

.separator {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.vline {
    width: 0.2rem;
    height: 0.4rem;
    background-color: darkslategrey;
}

.hline {
    width: 50%;
    height: 1rem;
    border: 0.2rem solid darkslategrey;
    border-bottom: none;
}
