#tree-container {
    align-items: center;
    border: var(--dark-border);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .root {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .children-container {
        display: flex;
        flex-direction: row;
    }

    .child {
        display: flex;
        min-width: 2rem;
    }
}
